# ╔════════════════════════════════════╗
# ║               GENERAL              ║
# ╚════════════════════════════════════╝
.vscode/
original__nand2tetris/
p09/


# ╔════════════════════════════════════╗
# ║       NAND2TETRIS SPECIFIC         ║
# ╚════════════════════════════════════╝
tools/
.pytest_cache/


# ╔════════════════════════════════════╗
# ║         BYTECODE / TESTING         ║
# ╚════════════════════════════════════╝
__pycache__/
.pytest_cache/
*.py[cod]
*$py.class
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.py,cover
.hypothesis/
cover/